@using TeacherPortal_FrontEnd.Models.GradesModels
@model List<Grades>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="container">
    <table id="Grades-Table" class="table">
        <thead>
            <tr>
                <th class="table-danger">Full name</th>
                <th class="table-secondary">Grade one</th>
                <th class="table-secondary">Grade two</th>
                <th class="table-secondary">Grade three</th>
                <th class="table-secondary">Grade four</th>
                <th class="table-secondary">Grade five</th>
                <th class="table-dark">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var grade in Model)
            {
                <tr class="table-row" data-id="@grade.Id">
                    <th class="table-danger">@grade.StudentFirstName @grade.StudentLastName</th>
                    <th>@grade.GradeOne</th>
                    <th>@grade.GradeTwo</th>
                    <th>@grade.GradeThree</th>
                    <th>@grade.GradeFour</th>
                    <th>@grade.GradeFive</th>
                    <th class="table-dark">@grade.AvgGrade</th>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    $(document).ready(function () {
        $('#Grades-Table').on("click", ".table-row", function (event) {
            event.preventDefault();
            var id = $(this).data("id");
            document.location = '@Url.Action("Details","Teacher")' + '/' + id;
        });
    });
</script>